<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bookshelf App</title>
  </head>
  <body>
    <header class="sticky-top">
      <nav
        class="navbar navbar-expand-lg navbar-dark bg-success shadow-sm px-2"
      >
        <div class="container">
          <a class="navbar-brand" href="/">
            <i class="fas fa-book-open me-2"></i>
            Bookshelf
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex ms-auto me-2 mt-3 mt-lg-0" id="search-form">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Cari"
                  aria-label="Cari"
                  id="search-keyword"
                  autocomplete="off"
                  required
                />
                <button
                  class="btn btn-warning text-black-50"
                  type="submit"
                  aria-label="Cari"
                >
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </form>

            <ul class="navbar-nav my-2 my-lg-0">
              <li class="nav-item">
                <a class="nav-link link-to-page" href="/">
                  <i class="fas fa-bookmark"></i>
                  Selesai
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link link-to-page" href="/uncompleted-list">
                  <i class="far fa-bookmark"></i>
                  Belum Selesai
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="container my-3">
      <h1 class="text-center" id="page-title"></h1>
      <hr />

      <div class="row" id="book-list"></div>
    </main>

    <button
      class="btn btn-success btn-float"
      aria-label="Tambah Buku baru"
      data-bs-toggle="modal"
      data-bs-target="#new-book-modal"
    >
      <i class="fas fa-plus"></i>
    </button>

    <form
      class="modal fade"
      id="new-book-modal"
      tabindex="-1"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <p class="modal-title">Tambah Buku Baru</p>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="tutup"
            ></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="new-book-title" class="form-label">Judul Buku</label>
              <input
                type="text"
                class="form-control"
                id="new-book-title"
                placeholder="Judul"
                autocomplete="off"
                required
              />
            </div>

            <div class="mb-3">
              <label for="new-book-author" class="form-label"
                >Pengarang Buku</label
              >
              <input
                type="text"
                class="form-control"
                id="new-book-author"
                placeholder="Nama Pengarang"
                autocomplete="off"
                required
              />
            </div>

            <div class="mb-3">
              <label for="new-book-year" class="form-label">Tahun Terbit</label>
              <input
                type="number"
                class="form-control"
                id="new-book-year"
                placeholder="Tahun Terbit"
                autocomplete="off"
                required
              />
            </div>

            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="new-book-isComplete"
              />
              <label class="form-check-label" for="new-book-isComplete">
                Selesai Dibaca
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Simpan</button>
          </div>
        </div>
      </div>
    </form>

    <form
      class="modal fade"
      id="edit-book-modal"
      tabindex="-1"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <p class="modal-title">Edit Buku</p>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="tutup"
            ></button>
          </div>
          <div class="modal-body">
            <input type="hidden" id="edit-book-id" />
            <div class="mb-3">
              <label for="edit-book-title" class="form-label">Judul Buku</label>
              <input
                type="text"
                class="form-control"
                id="edit-book-title"
                placeholder="Judul"
                autocomplete="off"
                required
              />
            </div>

            <div class="mb-3">
              <label for="edit-book-author" class="form-label"
                >Pengarang Buku</label
              >
              <input
                type="text"
                class="form-control"
                id="edit-book-author"
                placeholder="Nama Pengarang"
                autocomplete="off"
                required
              />
            </div>

            <div class="mb-3">
              <label for="edit-book-year" class="form-label"
                >Tahun Terbit</label
              >
              <input
                type="number"
                class="form-control"
                id="edit-book-year"
                placeholder="Tahun Terbit"
                autocomplete="off"
                required
              />
            </div>

            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="edit-book-isComplete"
              />
              <label class="form-check-label" for="edit-book-isComplete">
                Selesai Dibaca
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="delete-btn">Hapus</button>
            <button type="submit" class="btn btn-primary">Simpan</button>
          </div>
        </div>
      </div>
    </form>

    <footer>
      <p class="d-block text-center">© Yusril A. P. 2021 All rights reserved</p>
    </footer>
  </body>
</html>
