<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bookshelf App</title>
  </head>
  <body>
    <header class="sticky-top">
      <nav
        class="navbar navbar-expand-lg navbar-dark bg-success shadow-sm px-2"
      >
        <div class="container">
          <a class="navbar-brand" href="/">
            <i class="fas fa-book-open me-2"></i>
            Bookshelf
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex ms-auto me-2 mt-3 mt-lg-0" id="search-form">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Cari"
                  aria-label="Cari"
                  id="search-keyword"
                  autocomplete="off"
                  required
                />
                <button
                  class="btn btn-warning text-black-50"
                  type="submit"
                  aria-label="Cari"
                >
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </form>

            <ul class="navbar-nav my-2 my-lg-0">
              <li class="nav-item">
                <a class="nav-link link-to-page" href="/">
                  <i class="fas fa-bookmark"></i>
                  Selesai
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link link-to-page" href="/uncompleted-list">
                  <i class="far fa-bookmark"></i>
                  Belum Selesai
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="container my-3"></main>

    <footer>
      <p class="d-block text-center">© Yusril A. P. 2021 All rights reserved</p>
    </footer>
  </body>
</html>
